extends layout

block content    
  .container
    .row
      h1 #{title}
    .row
      table.table.table-bordered
        thead
          tr
            th Id
            th Name
            th Address
            th Author
            th Post Date
        tbody
          each item in items
            tr
              td #{item.Id}
              td #{item.Title}
              td 
                a(href="#{item.Url}") #{item.Url}
              td #{item.Authur}
              td #{item.PostDate}

      
          

    



